<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WechatDemo</display-name>
	
	<!-- 微信access-token后台自动刷新 -->
	<listener>    
        <listener-class>    
            com.icsc.service.AccessTokenListener
        </listener-class>    
	</listener>
	
	<!-- weixin控制器 -->
	<servlet>
		<servlet-name>WechatController</servlet-name>
		<servlet-class>com.icsc.controller.WechatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WechatController</servlet-name>
		<url-pattern>/weixin</url-pattern>
	</servlet-mapping>
</web-app>